/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  .main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  
  /* Estilos para la navegación de pestañas */
  .nav {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .nav-item {
    flex: 1;
    text-align: center;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    cursor: pointer;
  }
  
  .nav-link.active {
    background-color: #0056b3;
  }
  
  /* Estilos para los selectores y botones */
  .select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el formulario */
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form input[type="text"],
  .form input[type="number"],
  .form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el resultado y el botón de contratar */
  .result {
    margin: 20px 0;
    padding: 20px;
    background-color: #eee;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #botonContratar {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #botonContratar:hover {
    background-color: #218838;
  }
  